[user]
	email = krystian.paszkiewicz@gmail.com
	name = Krystian Paszkiewicz
[push]
	default = simple
[core]
	autocrlf = input
[merge]
	tool = meld
[mergetool]
	keepBackup = false
[alias]
	whatadded = log --diff-filter=A
  g = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --all
