snippet for "for (...) {...} (counting up)" b
for (let ${1:i} = 0; $1 < $2; $1++) {
	${VISUAL}$0
}
endsnippet

# HAPI snippets
snippet hroute "hapi route definition"
server.route({
	path: '${1:/}',
	method: '${2:GET}',
	handler: ${VISUAL}$0
});
endsnippet
